# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
# Build results
[Dd]ebug/
[Rr]elease/
build/
ipch/
*.obj
*.exe
*.pdb
*.idb
*.iobj
*.ipdb
*.log
# Other files
*.tmp
*.bak
*.cache
*.db
*.opendb
*.VC.db
*.tlog
*.lastbuildstate
# Temporary files
~*
*.old